<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="osp.leobert.android.pagertrackerdemo">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".essay.EssayDetailActivity"
            android:label="@string/title_activity_essay_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".bio.PostsRecordActivity"
            android:label="@string/title_activity_posts_record" />
        <activity android:name=".index.IndexActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>